<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<title>제주도장깨기</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!-- 부트스트랩 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<link rel="stylesheet" th:href="@{/css/login.css}" />
		<noscript><link rel="stylesheet" th:href="@{/css/noscript.css}" /></noscript>
		<style>
			#mypagelogin {
				padding-left: 12px;
			}
			#mypagelogin:hover {
				background-color: #F79F57;
				color: white;
			}
      #main-button:hover{
      color:gray;
      }
      #main-header-button{
      border:none !important;
      }
    </style>
	</head>
	
	<body class="index is-preload">
		<div id="page-wrapper">
		<div>
					<div id="jejuVideo" style="width: 100%;">
              <video width="100%;" muted autoplay loop >
	       					 <source th:src="@{/images/jeju.mp4}" type="video/mp4">
	     				</video>
     				</div>
			<!-- Header -->
				<header id="header" class="alt">
					<h1 id="logo"><a th:href="@{/index}">Jeju <span>DoJang</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current" ><a th:href="@{/index}" id="main-header-button">HOME</a></li>
							<li class="submenu">
								<a href="#" id="main-header-button">menu</a>
								<ul>
									<li><a th:href="@{/itinerary}">일정 짜기</a></li>
									<li>
										<a th:if="${session.user != null && #strings.equals(session.user.role, 'USER')}" href="/api/mypage">MyPage</a>
										<div id="mypagelogin" th:unless="${session.user != null && #strings.equals(session.user.role, 'USER')}" data-toggle="modal" data-target="#myModal" href="#">MyPage</div>
									</li>
									<li class="submenu">
										<a href="#">게시판</a>
										<ul>
											<li><a th:href="@{/boards/list}">번개 만남</a></li>
											<li><a th:href="@{/boards2/list}">일정 공유</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<span th:if="${session.user != null && #strings.equals(session.user.role, 'USER')}">
									<a href="/logout" class="button primary" id="button-board">Log Out</a>
								</span>
								<span th:unless="${session.user != null && #strings.equals(session.user.role, 'USER')}">
									<a data-toggle="modal" data-target="#myModal" class="button primary" id="button-board">Log In</a>
								</span>
							</li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
			
				<section id="banner">
					<div class="inner">
						<header>
							<img alt="제주도장깨기" src="/images/index_제주도장깨기.png">
							<!-- <h2>제주도장깨기</h2> -->
							
						</header>
							<p>누구나 가는 뻔한 코스는 그만!</p>
							<p>원하는 컨셉에 맞는 여행지를 만날 수 있어요.</p>
							<p>나만의 스타일로 추억을 만들어 보세요.</p>
							
						<footer>
							<ul class="buttons stacked">
								<li><a href="#main" class="button fit scrolly" id="main-button">일정 짜기</a></li>
								<li><a href="#major" class="button fit scrolly" id="main-button">번개 만남</a></li>
							</ul>
						</footer>
					</div>

				</section>
			</div>
			<!-- 일정짜기 버튼 누르면 여기로 이동 -->
				<article id="main">

					<header class="special container">
						<img alt="제주도장깨기" src="/images/일정짜기.png">
						<p>제주도로 여행을 떠나시나요?
						<br />
						여행 일정 정리는 물론, 장소 추천까지 한 번에 받아보세요!
						</p>
						<a th:href="@{/itinerary}">&gt&gt 일정 짜러 가기</a>
					</header>

					<!-- 미리보기 화면 넣기 -->
						
							<a style="border: none;" th:href="@{/itinerary}"><img alt="제주도장깨기" src="/images/메인일정짜기소개.png" style="margin:50px 0px 250px 0px;"></a>
						

			

					<!-- 번개만남 -->
						<section id="major" class="wrapper style3 container special">

							<header class="major" >
								<img alt="제주도장깨기" src="/images/번개만남.png">
								<p>새로운 인연과 멋진 추억을 만들어보세요!
								</p>
								<a href="../boards/list">&gt&gt 친구 만들러 가기</a>
							</header>
							<div>
							<a style="border: none;" href="../boards/list"><img alt="번개만남 사진" src="/images/번개만남사진3.png"></a>
							</div>
							
					

						

						</section>

				</article>
				
			<!-- login modal -->
			<div th:insert="~{fragments/loginModal::loginModal}"></div>

			<!-- Footer -->
	<div th:insert="~{fragments/footer::footer}"></div>


		</div>

		<!-- Scripts -->
			<script th:src="@{/js/jquery.min.js}"></script>
			<script th:src="@{/js/jquery.dropotron.min.js}"></script>
			<script th:src="@{/js/jquery.scrolly.min.js}"></script>
			<script th:src="@{/js/jquery.scrollex.min.js}"></script>
			<script th:src="@{/js/browser.min.js}"></script>
			<script th:src="@{/js/breakpoints.min.js}"></script>
			<script th:src="@{/js/util.js}"></script>
			<script th:src="@{/js/main.js}"></script>
			

	</body>
</html>