<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div style="border-radius: 10px; border: 1px solid lightgray; display: block;
			width: 500px; padding: 20px; margin: 0 auto; text-align: center;">
		<h1 style="color: inherit; font-family: 'GmarketSansBold'; font-weight: 900; margin-bottom: 1em;">
			JEJU <span style="font-weight: 300 !important; font-family: 'GmarketSansLight';">DOJANG</span>
		</h1>
		<h3>[[${hostName}]]님과 제주도 여행을 함께하세요!</h3>
		<h3>마이페이지에서 여행을 확인할 수 있습니다.</h3>
		<h3 style="margin: 1.5em 0 1em 0;">
			<a href="http://ec2-13-125-88-81.ap-northeast-2.compute.amazonaws.com:8282/">제주도장으로 이동하기</a>
		</h3>
	</div>

</body>
</html>