<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
		<!-- 부트스트랩 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" th:href="@{/css/main.css}" />
		<link rel="stylesheet" th:href="@{/css/login.css}" />
		<link rel="stylesheet" th:href="@{/css/loginHeader.css}" />
		<noscript><link rel="stylesheet" th:href="@{/css/noscript.css}" /></noscript>
		<style>
			#mypagelogin {
				padding-left: 12px;
			}
			#mypagelogin:hover {
				background-color: #F79F57;
				color: white;
				
			}
		</style>

		<th:block layout:fragment="script_head">
		</th:block>
		<th:block layout:fragment="style1">
		</th:block>
</head>
<body class="no-sidebar is-preload">

	<!-- Header -->				
	<div th:insert="~{fragments/header::header}"></div>
			
	<div id="page-wrapper">
	<article id="main">		

	<!-- content-body : body 내용은 아래 태그를 복사해서 안에 작성하세여 -->
	<div layout:fragment="content"></div>
	
	</article>
	</div>

	<!-- Login Modal -->
	<div th:insert="~{fragments/loginModal::loginModal}"></div>
		
	<!-- Footer -->
	<div th:insert="~{fragments/footer::footer}"></div>

	<!-- custom javascript : 자바스크립트는 아래 태그를 복사해서 안에 작성ㄱㄱ -->
	<th:block layout:fragment="script"></th:block>
	
	
	
			<script th:src="@{/js/jquery.min.js}"></script>
			<script th:src="@{/js/jquery.dropotron.min.js}"></script>
			<script th:src="@{/js/jquery.scrolly.min.js}"></script>
			<script th:src="@{/js/jquery.scrollex.min.js}"></script>
			<script th:src="@{/js/browser.min.js}"></script>
			<script th:src="@{/js/breakpoints.min.js}"></script>
			<script th:src="@{/js/util.js}"></script>
			<script th:src="@{/js/main.js}"></script>		
			<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

</body>
</html>
