<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>

</style>
</head>
<body>
<div th:fragment="loginModal">
	<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close  text-right" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<h1 id="modal-logo" class="text-center"><a href="index"><span>Jeju</span> DoJang</a></h1>
	
					<div class="btn btn-naver">
						<a href="/oauth2/authorization/naver" role="button">
							<img class="img-responsive" th:src="@{/images/icon/btnG_완성형.png}">
						</a>
					</div>

					<div class="btn btn-google">
						<a href="/oauth2/authorization/google" role="button">
							<img class="img-responsive" th:src="@{/images/icon/btn_google_blue.png}">
						</a>
					</div>
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>