<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/layout1}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


<th:block layout:fragment="style1">
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
	
		<img alt="페이지 이름 들어간 이미지 넣기" src="/images/일정짜기.png">
		<p class="text-middle">원하는대로 일정을 짜보세요</p>
					
		<section class="wrapper style4 container">
		
			<!-- Content -->
			<div class="panel-body>">
				<!-- 여기에 내용 작성하세용-->
				<div ty></div>
				<div class="row" >
					<div class="col-xs-2" id="likesBox" ondrop="drop(event)" ondragover="allowDrop(event)" style="border:solid 1px black">
						<div th:each="itinerary, i : ${itinerary}" >
							<div th:id="'tour' + ${i}" draggable="true" ondragstart="drag(event)" th:style="'border:solid 1px black; background-image: url(' + ${itinerary.firstimage} + '); width:100%'">
								<div th:text="${itinerary.title}">[[${itinerary.title}]]</div>
								<!-- <img th:src="${itinerary.firstimage}"> -->
							</div>
							
						</div>
					</div>
					<div th:each="num: ${#numbers.sequence(1,days)}" class="daycontainer">				
						<div  th:order="${num}+'.'" th:id="'day'+${num}" class="col-xs-5" style="border:solid 1px black; width:200px; height:200px;">
							<div th:each="count:${#numbers.sequence(1,9)}">
								<div th:order="${count}" th:id="'plan'+${count}" ondrop="drop(event)" ondragover="allowDrop(event)" style="border:solid 1px black; height: 20px;"></div>
							</div>
						</div>
					</div>
					<button onclick="save()">일정 저장</button>
				</div>
			</div>
		</section>
</div>
		
		



	<th:block layout:fragment="script">
	<script>
		function allowDrop(ev) {
  			ev.preventDefault();
		}

		function drag(ev) {
 			 ev.dataTransfer.setData("text", ev.target.id);
		}

		function drop(ev) {
  			ev.preventDefault();
  			var data = ev.dataTransfer.getData("text");
  			ev.target.appendChild(document.getElementById(data));
		}
		
		function save(){
			$("div.daycontainer > div").each(function(index, item){
				console.log("index : "+index);
				console.log("item : "+item.id);
				console.log("***********");
				for(var j=1;j<10;j++){
					var img = $(item).find("#plan"+j).find("img");
					if($(img).length==1){
						var temp = index+1+(j*0.1);
						console.log(temp);
						$.ajax({
							url:'/',
							data:{
								"schedule":temp,
								"content_id":"????"
							},
							success:function(data){
								alert(data==1?'업데이트 성공':'업데이트 실패');
							}
						});
					}
					
				}
			});
			location.href = "../../retrieveMarker?groupid=" + [[${groupid}]];
			/*)
			for(var i=1; i <= [[${days}]] ;i++){
				for(var j=1;j<10;j++){
					$("div.daycontainer #")
					document.getElementById("day"+i).getElementById("plan"+j).
				}
			}*/
		}
		</script>
	</th:block>




</body>

</html>

