<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{fragments/layout1}">
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
<th:block layout:fragment="style1">
<style type="text/css">
#boxes{
border : solid 1px lightgray; 
padding: 50px 0px 50px 0px; 
width:450px; 
float:left; 
margin-bottom: 60px; 
margin-right: 60px; 
margin-left:60px;
background-color: lightgray;
color:black;
}
#date-style{
color:black;
margin-bottom: 10px;
}
#date-style2{
color:black;
margin-bottom: 25px;
}
#groupname{
color:#3F7194; font-family: 'GmarketSansBold'; font-size: 35px;
}
#add-itinerary{
color: #3F7194;

}
#date-text{
font-weight: 900;
}
</style>
</head>
<body>
<div layout:fragment="content">
	
		<img alt="페이지 이름 들어간 이미지 넣기" src="/images/마이페이지.png">
		<p class="text-middle">여행 일정들을 조회해보세요!</p>
					
		<section class="wrapper style4 container">
		
			<!-- Content -->
			<div class="panel-body>">
				<!-- 여기에 내용 작성하세용-->
				<div class="row" >
					<div>
						<div th:each="group, i : ${groups}" id="boxes">
							<div style="text-align: center;">
								<a th:href="${'../../api/retrieveitinerary?group_id=' + group.group_id}" id="groupname">[[${group.group_name}]]</a>
								<p></p>
								<p id="date-style" ><span id="date-text">여행 출발일</span>    [[${group.start_day}]]</p>
								<p id="date-style2" ><span id="date-text">여행 마지막일</span>    [[${group.end_day}]]</p>
								<a th:href="@{/itinerary/style(groupid=${group.group_id})}" id="add-itinerary">일정 업데이트</a>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
			
		</section>
</div>
		
		



	<th:block layout:fragment="script">
	<script>
	
		</script>
	</th:block>
	
	



</body>

</html>
