<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


<th:block layout:fragment="style1">
<style type="text/css">
#title-font{
font-size:40px; font-family: 'GmarketSansBold'; color: white;
margin-top: 50px;
text-align: center;
}
#span-font{
font-family: 'GmarketSansBold';
}
#day-font{
font-size:30px; font-family: 'GmarketSansBold'; color: #F58220;
margin-top: 50px;
text-align: center;
}
#text-style{
text-align: center;
line-height: 140px;
font-family: 'IBMPlexSansKR-Light';
font-size: 20px;
font-weight: bold;
background-color: #3F7194;
color:white;
}
</style>
</head>

<body>
<div layout:fragment="content">
	
		
		<section class="wrapper style4 container">
		
			<!-- Content -->
			<div class="panel-body>">
				<!-- 여기에 내용 작성하세용-->
				<div class="row" >
				
					<div th:each="num: ${#numbers.sequence(1,days)}" class="daycontainer">   
                  		<p id="day-font">day<span id="span-font">[[${num}]]</span></p>
                  		<div  th:order="${num}" th:id="'day'+${num}" class="col-xs-5" style="width:270px; height:1200px;">
                     
                     	<div class="boxes" th:each="count:${#numbers.sequence(1,9)}">
                        	<div class="box" th:order="${count}" th:id="'plan'+${count}" style="border:solid 1px lightgray; height: 140px; width:270px;">
                        		

							</div>
                        	</div>
						</div>
						
					</div>
					
				</div>
			</div>
			
		</section>
</div>
		
		



	<th:block layout:fragment="script">
		<script th:inline="javascript">

    /*<![CDATA[*/

	var mypages =[[${mypages}]];

	/*]]*/



				console.log(mypages);
		var s='';
		
		
	/* 	for(let i=1;i<=[[${days}]];i++){
			for(let j=1;j<=9;j++){
				
			}
		} */
		console.log(mypages.length);
		for(let z=0; z<mypages.length; z++){
			console.log(mypages[z]["schedule"]);  
			var a = mypages[z]["schedule"].substring(0,1);
			var b = mypages[z]["schedule"].substring(2,3);
			console.log(a + ":" + b);
			$(`div#day${a} div#plan${b}`).html("<div id='text-style'>" + mypages[z]["title"]+"</div>");
		}
		 
		$("#day1 > .box").html(s);
		
		
		
		</script>
	</th:block>
	
	



</body>

</html>

