<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 부트스트랩 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<style>
ul {
   list-style: none;
}

#button {
   width: 20px;
   height: 5px;
}

#delete-button {
   padding: 5px 0 5px 0 ;
   background-color: #3F7194;
   color:white;
}
#main img{
	width:20px;
	height:20px;
}
.btn-next.button{

}

#delete-button{
	width:50px;
	height:30px;
	min-width: 0;
	line-height: 0;
	border-radius: 10%;
	
}
#delete-button2{
	background-color:darkgray;
	width:50px;
	height:30px;
	min-width: 0;
	line-height: 0;
	border-radius: 10%;
	 padding: 5px 0 5px 0 ;
   color:white;
}
.hb{
	text-align: center;
	font-size: 23px;
}
#itinerary-title{
background-color:#3F7194;
padding: 10px 0 10px 0;
color:white;
font-family: 'GmarketSansBold';
}
#next-button{
float: right;}
.selected-schedule-one span{
font-family: 'IBMPlexSansKR-Light';
color:black;
text-align: left;
}


</style>
<body class="no-sidebar is-preload">
         <!-- Header -->
		<div th:fragment="header">
				<header id="header">
					<h1 id="logo"><a th:href="@{/index}">Jeju <span>DoJang</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a th:href="@{/index}">HOME</a></li>
							<li class="submenu">
								<a href="#">menu</a>
								<ul>
									<li><a th:href="@{/itinerary}">일정 짜기</a></li>
									<li>
										<a th:if="${session.user != null && #strings.equals(session.user.role, 'USER')}" href="/api/mypage">MyPage</a>
										<a th:unless="${session.user != null && #strings.equals(session.user.role, 'USER')}" data-toggle="modal" data-target="#myModal" href="#">MyPage</a>
									</li>
									<li class="submenu">
										<a href="#">게시판</a>
										<ul>
											<li><a th:href="@{/boards/list}">번개 만남</a></li>
											<li><a th:href="@{/boards2/list}">일정 공유</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<span th:if="${session.user != null && #strings.equals(session.user.role, 'USER')}">
									<a href="/logout" class="button primary" id="button-board">Log Out</a>
								</span>
								<span th:unless="${session.user != null && #strings.equals(session.user.role, 'USER')}">
									<a data-toggle="modal" data-target="#myModal" class="button primary" id="button-board">Log In</a>
								</span>
							</li>
						</ul>
					</nav>
					
					<div th:insert="~{fragments/loginModal::loginModal}"></div>
					
				</header>
		</div>
   <div id="page-wrapper"> 
   <article id="main">     
   <div layout:fragment="content">
      <script type="text/javascript"
         src="//dapi.kakao.com/v2/maps/sdk.js?appkey=16d06b180e19239477530ca3b1f01e0b"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <img alt="페이지 이름 들어간 이미지 넣기" src="../images/일정짜기.png" style="width: 100%; height: 100%;">
      <p class="text-middle">지도에서 위치를 확인하고 <br>일정에 추가할 장소를 선택해주세요!</p>
      <section class="wrapper style4 container">

         <!-- Content -->
         <div class="content">
            <div class="panel-body>">
               <!-- 여기에 내용 작성하세용-->

               <div id="map" style="width: 100%; height: 700px;"></div>
	               <ul id="addplace">
	               <br>
	                  <li class="hb" id="itinerary-title">추가한 일정</li>
	                 <br>
	                  <div class='selected-schedule-one text-center' th:each="sp:${selectedplaces}">
	                 	<span th:cid="${sp.contentid}">[[ ${sp.title} ]]</span>
		                 <button id='delete-button2' disabled="disabled">삭제</button>
	                 </div>
	               </ul>
	               <div style="width:298px; margin: 0 auto;">
	               <a th:href="@{/api/itineraries(group_id=${groupid})}" class="btn-next button" id="next-button">다음</a>
		            </div>
		            </div>
		         </div>
		      </section>
		   </div>
	   </article>
   </div>

   <th:block layout:fragment="script">
      <script th:inline="javascript">
         var group_id = [[ ${groupid} ]];

         $.ajax({
                  url : '/itinerary/allMarker/' + group_id,
                  success : function(data) {
                     var positions = [];
                     for ( let i in data) {
                        positions.push({
                           title : data[i].title,
                           latlng : new kakao.maps.LatLng(
                                 data[i].mapy, data[i].mapx), contentid : data[i].contentid
                        });
                        //positions
                        //인포윈도우 타이틀 
                     }//for

                     var mapContainer = document.getElementById('map'), // 지도를 표시할 div  

                     mapOption = {
                        center : new kakao.maps.LatLng(
                              33.38957578397755, 126.54641374900602), // 지도의 중심좌표
                        level : 9
                     // 지도의 확대 레벨
                     };

                     var map = new kakao.maps.Map(mapContainer,
                           mapOption); // 지도를 생성합니다

                     var imageSrc = "images/jejucir.png";

                     // console.log(positions);
                     delete i;

                     for (let i = 0; i < positions.length; i++) {
                        var imageSize = new kakao.maps.Size(24, 24);
                        var markerImage = new kakao.maps.MarkerImage(
                              imageSrc, imageSize); // 마커 이미지를 생성합니다
                        var marker = new kakao.maps.Marker({ // 마커를 생성합니다
                           map : map, // 마커를 표시할 지도
                           position : positions[i].latlng, // 마커를 표시할 위치
                           title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                           image : markerImage, // 마커 이미지 
                           clickable : false
                        // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다

                        });

                        iwRemoveable = true;
                        let infowindow = [];

                        (function(j) {
                           var iwContent = '<div style="padding:5px; width:200px; height:100px; "><a style="font-size: 15px; color:black; font-family: GmarketSansBold; color:#3F7194;">'
                                 + positions[j].title
                                 + '</a><br><a class="places" id = "'
                                 + positions[j].contentid
                                 + '" name="'
                                 + positions[j].title
                                 + '" onclick="select(this.id, this.name)" style="color:black; font-size: 14px;" target="_blank">일정에 추가</a> <a href="https://map.kakao.com/link/to/'+positions[j].title+','+positions[j].latlng.Ma+','+ positions[j].latlng.La+'" style="color:black; text-decoration:none; font-size: 14px;" target="_blank" >길찾기</a></div>',

                           iwPosition = new kakao.maps.LatLng( positions[j].latlng.La,positions[j].latlng.Ma), iwRemoveable = true;

                         kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map,  marker, infowindow));

                           let aa = new kakao.maps.InfoWindow({
                              position : iwPosition,
                              content : iwContent, // 인포윈도우에 표시할 내용
                              removable : iwRemoveable
                           });
                         
                           infowindow.push(aa);
                           
                           kakao.maps.event.addListener(marker, 'click', function() {
                              // 마커 위에 인포윈도우를 표시합니다
                                 infowindow[j].open(map,marker);
                           });
                           
                           console.log(infowindow);

                           //인포윈도우를 표시하는 클로저를 만드는 함수입니다 
                           function makeOverListener(map, marker, infowindow) {
                              return function() {
                                 aa.open(map, marker);
                              };
                           }
                           function makeOutListener(infowindow) {
                              return function() {
                                 aa.close();
                              };
                           }

                        })(i);//function
                     }//for
                  }//success
               })//ajax

         function select(contentid, title) {
            $.ajax({
                     type : 'get',
                     data : {
                        "contentid" : contentid,
                        "title" : title
                     },
                     url : '/insertPlaces/' + group_id,
                     dataType : 'text',
                     success : function(data) {
                  		 console.log(data);
                		 console.log(typeof(data));
                    	 if(data == "true"){
                    		 console.log("이미선택한장소");
                    		 alert('이미 선택한 장소입니다.');
                    	 }else {
                           var newList = "<div class='selected-schedule-one text-center'>";                     		newList += "<span cid='" + contentid +"'> " + title + " </span>";
                           newList += "</div>";
                           $newList = $(newList);
                           $newBtn = $("<button id='delete-button'>삭제</button>");
                           $newList.append($newBtn);

                           $newBtn.click(function() {
                              $(this).parent().remove();
                              remove(contentid);
                           });

                           var isOverlap = false;
							$("#addplace").children("div").each(function(i, element) {
								let cid = $(element).children("span").attr("cid");
								
								if(cid == contentid) {
									isOverlap = true;
								} 
							});
							if(!isOverlap){
								$("#addplace").append($newList);
								alert('일정에 추가하였습니다.')
							}
                           function remove(contentid) {
                              $.ajax({
                                 url : '/deletePlaces',
                                 data : {
                                    "contentid" : contentid,
                                    "group_id" : group_id
                                 },
                                 success : function(data) {
                                    console.log(contentid);
                                    alert(data == 1 ? '삭제되었습니다.'
                                          : "ERROR");
                                 }
                              });//ajax
                           }//remove
                        }//if
                     }//success
                  });//ajax
         }//function

         // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
         // 이벤트 리스너로는 클로저를 만들어 등록합니다 
         // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
      </script>
   </th:block>
  
  <script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/jquery.dropotron.min.js}"></script>
	<script th:src="@{/js/jquery.scrolly.min.js}"></script>
	<script th:src="@{/js/jquery.scrollex.min.js}"></script>
	<script th:src="@{/js/browser.min.js}"></script>
	<script th:src="@{/js/breakpoints.min.js}"></script>
	<script th:src="@{/js/util.js}"></script>
	<script th:src="@{/js/main.js}"></script>		
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>


</body>
</html>