<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{fragments/layout1}">
<head>
<meta charset="UTF-8">
<title>My Favorite Place</title>
<th:block layout:fragment="style1">
<link rel="stylesheet" th:href="@{/css/favoritePlace.css}">
</th:block>
</head>
<body>
	<div layout:fragment="content">
	
		<img alt="페이지 이름 들어간 이미지 넣기" src="/images/일정짜기.png">
		<p class="text-middle">마음에 드는 장소를 선택해주세요.</p>
					
		<section class="wrapper style4 container">
		
			<!-- Content -->
			<div class="content">
			<div class="panel-body>">
				<!-- 여기에 내용 작성하세용-->
				<div class="row">
					<div class="taglist col-xs-12 text-center">
						<a class="selected_tag button primary" th:each="tag:${tags}" th:text="${tag}"></a>
					</div>
				</div>
				<div style="height: 50px;"></div>
				
				
				<div class="row">
					<div class="placelist col-md-4 scrollbar">
						<!-- <p id="loading-place" class="loading-msg">로딩중...</p> -->
					</div>
					<div class="placedetail col-md-8 scrollbar">
						<div id="placedetail-content">
							<div class="detail-header"></div>
							<div class="detail-content"></div>
							<div class="detail-search">
								<label style="font-family: 'GmarketSansBold';">네이버 블로그 리뷰</label>
								<div class="bloglist"></div>
								<!-- <p id="loading-blog" class="loading-msg">로딩중...</p> -->
							</div>
						</div>
						
					</div>
				</div>
				
				<div style="height: 100px;"></div>
				
				<div class="row">
					<div class="prev-next-btn col-xs-12 text-center">
						<a th:href="@{/itinerary/style(groupid=${groupid})}" class="btn-prev button">뒤로</a>
						<a th:href="@{/itinerary/ourfavorite(groupid=${groupid})}" class="btn-next button">다음</a>
					</div>
				</div>
			</div>
			</div>
		</section>
		
	</div>	

	
	<th:block layout:fragment="script">
		<script th:src="@{/js/scrollpaging.js}"></script>
		<script th:src="@{/js/printPlace.js}"></script>
		
		<script>
			var groupid = '[[${groupid}]]';
			
			$(".selected_tag").click(function(){
				$(this).addClass("active");
				$(this).siblings().removeClass("active");
				
				place_tag = $(this).text();
				$(".placelist").children().remove();
				$(".placelist").scrollTop(0);
				place_current_page = 0;
				
				var plist = getPlaces(place_tag, place_display_data, place_current_page);
				printPlaces(plist);
				place_observeLastChild(place_io);
			});
		
			// 페이지 로딩 후 보여줄 데이터
			$(".selected_tag:first-of-type").click();
			$(".place-item:first-of-type").click();
			
			$(".btn-next").click(function(){
				
			});
		</script>
		
	</th:block>
</body>
</html>