<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>	
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/login.css}" />
<noscript><link rel="stylesheet" th:href="@{/css/noscript.css}" /></noscript>
<link rel="stylesheet" th:href="@{/css/favoritePlace.css}">
<style>

.tooltip .tooltip-inner          { background-color:    white; border: 1px solid lightgray;}
.tooltip.top > .tooltip-arrow    { border-top-color:    white; }
.tooltip.right > .tooltip-arrow  { border-right-color:  white; }
.tooltip.bottom > .tooltip-arrow { border-bottom-color: white; }
.tooltip.left > .tooltip-arrow   { border-left-color:   white; }

.pick-text {
	color: orange;
}
.text {
	color: black;
	font-family: 'GmarketSansBold';
}
</style>
</head>
<body class="no-sidebar is-preload">

	<!-- Header -->				
	<div th:insert="~{fragments/header::header}"></div>
			
	<div id="page-wrapper">
	<article id="main">		

	<!-- content-body : body 내용은 아래 태그를 복사해서 안에 작성하세여 -->
	<div layout:fragment="content">
		<img alt="페이지 이름 들어간 이미지 넣기" src="/images/일정짜기.png">
		<p class="text-middle">
			좋아하는 장소를 보여드릴게요. <br>
			친구와 함께하면 친구가 좋아하는 장소도 볼 수 있어요!
		</p>
					
		<section class="wrapper style4 container">
		
			<!-- Content -->
			<div class="content">
			<div class="panel-body>">
				<!-- 여기에 내용 작성하세용-->
				<div class="row">
					<div class="taglist col-xs-12 text-center">
						<a class="selected_tag button primary" th:each="tag:${tags}" th:text="${tag}"
							data-toggle="tooltip" title="" data-html="true"></a>
					</div>
				</div>
				<div class="row">
					<div class="placelist col-md-4 scrollbar">
					</div>
					<div class="placedetail col-md-8 scrollbar">
						<div id="placedetail-content">
							<div class="detail-wholiked"></div>
							<div class="detail-header"></div>
							<div class="detail-content"></div>
							<div class="detail-search">
								<label>네이버 블로그 리뷰</label>
								<div class="bloglist"></div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="row">
					<div class="prev-next-btn col-xs-12 text-center">
						<a th:href="@{/itinerary/style(groupid=${groupid})}" class="btn-prev button">뒤로</a>
						<a th:href="@{/selectedPlaces(groupid=${groupid})}" class="btn-next button">다음</a>
					</div>
				</div>
			</div>
			</div>
		</section>
	</div>
	
	</article>
	</div>

	<!-- Login Modal -->
	<div th:insert="~{fragments/loginModal::loginModal}"></div>
		
	<!-- Footer -->
	<div th:insert="~{fragments/footer::footer}"></div>


	<script th:src="@{/js/scrollpaging.js}"></script>
	<script th:src="@{/js/printPlace.js}"></script>
	
	<script>
		// 장소 함수 재정의
		var groupid = '[[${groupid}]]';

		function getPlaces(tag, groupid){
			var plist;
			$.ajax({
				url: "/itinerary/getPlaceMemberLikedByTag/" + groupid + "/" + tag,
				async: false,
				success: function(responseData){
					plist = responseData;
					console.log(responseData);
				}
			});
			return plist;
		}
		
		function printDetail(elt){
			$(".detail-wholiked").children().remove();
			$(".detail-header").children().remove();
			$(".detail-content").children().remove();
			$(".bloglist").children().remove();
			$(".placedetail").scrollTop(0);
			
			printDetailHeader(elt);
			
			printDetailContent(elt);
			
			// detail-search
			printBlogSearch(elt["title"], blog_display_data, 1);
			blog_observeLastChild(blog_io);
		}
		
		function printDetailHeader(elt){
			
			var names = "<p class='text-center'>";
			var membersLikedPlace = whoLiked(elt.contentid);
			$.each(membersLikedPlace, function(i, e) {
				if(i != membersLikedPlace.length - 1){
					names += e.name + "님,";					
				}
				else names += (e.name + "님이 좋아하는 장소입니다.");
				
			});
			names += "</p>";
			//var likedStr = "<p>" + names + "이 이 장소를 좋아합니다." + "</p>";
			
			var headerStr = "<h1 class='detail-title'>" + elt.title + "</h1>";
			$(".detail-wholiked").append($(names));
			$(".detail-header").append($(headerStr));
			
		}
		
		function whoLiked(contentid){
			var membersLikedPlace;
			$.ajax({
				url: "getMemberByPlace/" + groupid + "/" + contentid,
				async: false,
				success: function(responseData){
					membersLikedPlace = responseData;
					//console.log(membersLikedPlace.length);
				}
			});
			return membersLikedPlace;
		}
		
		
		
		// 함수 실행
		$(".selected_tag").click(function(){
			$(this).addClass("active");
			$(this).siblings().removeClass("active");
			
			place_tag = $(this).text();
			$(".placelist").children().remove();
			$(".placelist").scrollTop(0);
			
			var plist = getPlaces(place_tag, groupid);
			printPlaces(plist);
		});
	
		// 페이지 로딩 후 보여줄 데이터
		$(".selected_tag:first-of-type").click();
		$(".place-item:first-of-type").click();
		
		
		// 툴팁
		$(".selected_tag").each(function(i, element) {
			var tag = $(element).text();
			var names= "";
			$.getJSON("/itinerary/getMemberByTag/" + groupid + "/" + tag, function(responseData){
				$.each(responseData, function(i, elt) {
					names += "<span class='text'>";
					names += (elt + "님 <span class='pick-text'>pick!</span><br>");
					names += "</span>";
				});
				$(element).tooltip().attr('data-original-title', names);
			});
		});
		$('.selected_tag').tooltip(); 
	</script>
	
</body>
</html>