@charset "UTF-8";

.img {
	width: 100%;
	display: block;
	margin-top : 0;
	margin-bottom: 0;
}
.scrollbar {
	overflow:auto;
	height: 80vh;
}
.scrollbar::-webkit-scrollbar {
    width: 10px; /*스크롤바의 너비*/
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #F79F57; /*스크롤바의 색상*/
    border-radius: 50px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #eee; /*스크롤바 트랙 색상*/
    border-radius: 50px;
}
.detail-header, .descriptions {
	display:flex;
	flex-wrap: wrap;
	
}

.place-item {
	flex: 1 1 50%;
}
.descriptions img {
	flex: 1 1 0;
	padding: 1% 0 1% 1%;
} 
.descriptions p {
	flex: 20 1 0;
	font-size: 0.9em;
}
.selected_tag {
	min-width: 1em;
	width: 20%;
	margin: 1%;
}
.row {
	display: block;
	margin: 0;
}
.taglist, .placelist, .placedetail, .prev-next-btn {
	padding: 0;
}
.placedetail{
	padding: 0 3%;
}
.placelist{
	padding: 1%;
}
.row:nth-of-type(2){
	margin-top: 3%;
}
.row:nth-of-type(3){
	margin-top: 5%;
}
.detail-header {
	margin: 0;
}
.detail-header .detail-title {
	margin: 0;
	flex: 4 1 0;
	padding: 2% 0;
	font-size: 2em;
}
.detail-header .detail-heart {
	flex: 1 1 0;
}
.detail-header .detail-heart img {
	width: 100% ;
	padding: 20%;
}
.detail-icon {
	display: inline-block;
	width: 5% !important;
	height: auto;
	margin-right: 2%;
}
.detail-content {
	margin-bottom: 3%;
}
.detail-content p, .detail-content img{
	margin: 1%;
}
.placelist .loading-icon {
	width: 20% !important;
}
.bloglist .loading-icon {
	width: 10% !important;
}
.active.selected_tag {
	background: #F79F57;
	border-color: #F79F57;
	/* text-decoration: underline; */
}
.place-item {
	margin-bottom: 2%;
}
.search-item a{
	font-size: 0.9em;
	text-decoration: none;
}
.search-item p{
	font-size: 0.7em;
	margin: 1% 0;
	border-bottom: 1px solid lightgray;
}
.no-result {
	margin: 2%;
	font-size: 0.8em;
	/* flex: 5 1 0; */
}
.detail-wholiked p {
	margin: 0;
	font-size: 0.9em;
	color: #3F7194;
}