@charset "UTF-8";

#myModal {
	top: 10%;
}
.modal-header, .modal-footer {
   	border: none;
}
#modal-logo {
	font-size: 1.2em;
}
#modal-logo span{
	font-family: 'GmarketSansBold';
}
.btn-naver {
	margin-top: 7% !important;
}
.btn-google, .btn-naver {
	padding: 0;
	margin: 0 3% 1% 3%;
	border: none;
	transition: all 0.3s;
}
.btn-google:hover, .btn-naver:hover {
	filter: brightness(95%);
	transition: all 0.3s;
}
.login-text {
	padding: 0;
	margin: 0;
	font-size: 0.8em;
	line-height: 1.5em;
}
#mypagelogin {
	padding-left: 12px;
}
#mypagelogin:hover {
	background-color: #F79F57;
	color: white;
	cursor: pointer;
}
/*
.btn-area {
	margin-top: 10%;
	width: 300px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

.login-title {
	text-align: center;
	margin: 0px;
	margin-top: 3%;
	margin-bottom: 10%;
}

.btn {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.btn:hover {
	filter: brightness(95%);
}

.btn-google {
	
	width: 250px;
	height: 62.5px;
}

.btn-naver {
	margin-bottom: 2%;
	width: 243px;
	height: 55px;
}

.btn a, .btn a img {
	display: block;
	width: 100%;
	height: 100%;
}
*/