@charset "UTF-8";

#myModal {
	top: 10%;
}
button.close {
	width: 100%;
}
.modal-header, .modal-footer {
   	border: none;
}
#modal-logo {
	font-size: 1.2em;
}
#modal-logo span{
	font-family: 'GmarketSansBold';
}
/*
.btn-area {
	margin-top: 10%;
	width: 300px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
}

.login-title {
	text-align: center;
	margin: 0px;
	margin-top: 3%;
	margin-bottom: 10%;
}

.btn {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.btn:hover {
	filter: brightness(95%);
}

.btn-google {
	
	width: 250px;
	height: 62.5px;
}

.btn-naver {
	margin-bottom: 2%;
	width: 243px;
	height: 55px;
}

.btn a, .btn a img {
	display: block;
	width: 100%;
	height: 100%;
}
*/